.lista-card{
    display: flex;
    width: 100%;
    border: 1px solid #000000;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px;
}

.card{
    /*margin: 15px;*/
    border: 2px solid #000000;
    width: fit-content;
    text-align: center;
}