

label, input {
    display: block;
    margin-bottom: 10px;
}

#nome {
    width: 50%; /* AUMENTA O COMPRIMENTO DA CAIXA DE TEXTO. */
    border-radius: 5px; /* MUDA A BORDA DA CAIXA (REDONDA). */
}