body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header #titulo {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.menu-link {
    color: #fff;
    text-decoration: none;
}

.menu-link:hover {
    text-decoration: underline;
}

#conteudo {
    justify-content: space-around;
    margin: 20px;
    display: flex;
}

.bloco, #destaque {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.bloco h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.bloco p, #destaque p {
    font-size: 16px;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}